<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5e06ee1e-637a-4be4-91af-a021b455343f/resourceGroups/app-grp/providers/Microsoft.Web/sites/demowebapp12345987</ResourceId>
    <ResourceGroup>app-grp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://demowebapp12345987.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://demowebapp12345987.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$demowebapp12345987</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>